body {
  margin: 8%;
  background: #738D76;
}

#greeting {
    background: #DAB4B2;
    padding: 25px;
}

#paragraph {
    background: #ffffff;
    padding: 35px;
}

img {
    width: 100%;
    max-width: 1200px;
    padding-top: 13px;
    padding-bottom: 13px;
}
